:root {
  --color-1: #7216f2;
  --color-2: #7350f2;
  --color-3: #7180d9;
  --color-4: #53efb6;
  --hover-btn: #82f3ca;
  --color-5: #0d0d0d;
  --color-6: #ffffff;
  --navbar-font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
.purple-bg {
  background-color: var(--color-1);
  color: var(--color-6);
}
.purple-bg h1,
.purple-bg h2,
.purple-bg h3,
.purple-bg h4,
.purple-bg h5,
.purple-bg h6 {
  font-weight: bold;
}

.black-bg h1,
.black-bg h2,
.black-bg h3,
.black-bg h4,
.black-bg h5,
.black-bg h6 {
  color: var(--color-6);
  font-weight: bold;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
section {
  padding: 6.25rem 10rem 5rem;
}
h1 {
  font-size: 4.375rem;
}
h3 {
  font-size: 1.75rem;
}
p {
  color: #f2f2f2;
}
.container {
  width: 90rem;
  margin: 0 auto;
  padding: 0 5rem;
}
.title h3 {
  text-align: center;
  padding-bottom: 1rem;
}
.title p {
  opacity: 0.8;
  text-align: center;
}
main {
  margin-top: 30px;
}
/* Navbar Starts */
.mobile-nav {
  display: none;
}
.navbar {
  width: 100%;
  height: 100px;
  border-bottom: 0.0625rem solid rgba(113, 128, 217);
  padding-left: 7rem;
  padding-right: 10rem;
  position: fixed;
  top: 0;
  z-index: 200;
  animation: fadeDown 1000ms forwards;
  opacity: 0;
  background: var(--color-5);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar.fix-nav {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--color-5);
  transition: background-color 200ms linear;
  color: var(--color-5) !important;
  z-index: 999;
  border-bottom: 1px solid var(--color-3);
}

.logo {
  height: 40px;
  width: 200px;
  padding: 0 25px;
}
.logo-logo {
  display: flex;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.navbar ul li a {
  color: var(--color-5);
  font-size: var(--navbar-font-size);
  font-weight: bold;
  padding: 0 25px;
  position: relative;
  overflow: hidden;
  color: var(--color-6);
  position: relative;
}
.navbar ul li a::after {
  content: "";
  position: absolute;
  left: 25px;
  bottom: 0;
  height: 2px;
  width: 50%;
  background: var(--color-4);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.navbar ul li a:hover {
  color: var(--color-4);
}
.navbar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.primary-btn {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 30px;
  text-align: center;
  background: var(--color-4);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.primary-btn:hover {
  background: var(--hover-btn);
}
.primary-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  color: var(--color-5);
}
/* Navbar Ends */
/* Header begins */
header {
  height: 100vh;
  background-color: var(--color-1);
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  width: 80%;
  height: fit-content;
  color: var(--color-6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .swiper-button-prev,
header .swiper-button-next {
  color: var(--color-6);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}
header:hover .swiper-button-prev,
header:hover .swiper-button-next {
  visibility: visible;
  opacity: 1;
}
header .swiper-pagination-bullet-active {
  background: var(--color-6);
}

.swiper-slide .left-side-header h1 {
  color: var(--color-6);
  text-align: left;
  margin-top: 30px;
  line-height: 90px;
  animation: movebottom 1s ease-in-out;
}
@keyframes movebottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.swiper-slide .left-side-header p {
  font-size: 1.4375rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--color-6);
  opacity: 0.7;
  animation: movetop 1s ease-in-out;
}
@keyframes movetop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.swiper-slide img {
  width: 40%;
  margin-left: 80px;
  animation: fadeToLeft 1200ms forwards;
  opacity: 0;
  animation-delay: 900ms;
}
@keyframes fadeToLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.swiper-slide .left-side-header hr {
  width: 30%;
  height: 3px;
  border: 2px solid var(--color-5);
  border-radius: 4px;
  margin-bottom: 10px;
}
.swiper-slide .left-side-header input[type="email"] {
  padding: 20px;
  border: none;
  outline: none;
  background: #e0e0e0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 5px;
}
.swiper-slide .signup-btn {
  padding: 20px;
  width: 100%;
}
.swiper-slide .signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  background: #e0e0e0;
  width: 65%;
  border-radius: 8px;
  animation: movetop 1s ease-in-out;
}
/* Header Ends */

/* Amazing Features Begins */
.amazing-features {
  background-color: var(--color-5);
  color: var(--color-6);
}
.features-content {
  padding: 5% 2%;
  text-align: center;
  color: #8f8f8f;
}
.features-icon {
  color: #6387f2;
  padding-bottom: 1rem;
  cursor: pointer;
}
.features-icon:hover {
  color: var(--color-1);
}
.feature-title {
  color: var(--color-6);
}
/* Amazing Features End */
/* Market Trend */
.market-trend {
  background-color: #6387f2;
  text-align: left;
}

.crypto-icon {
  height: 40px;
  width: 40px;
}
.card {
  border-radius: 18px;
  background-color: var(--color-5);
  margin: 0;
  padding: 3%;
  color: var(--color-6);
}
.card-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  color: var(--color-6);
}
.crypto-label {
  background-color: var(--color-6);
  color: var(--color-5);
  padding: 5px 15px;
  font-size: 10px;
  border-radius: 4px;
}
.fa-arrow-up {
  background-color: #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: rotate(35deg);
  color: var(--color-5);
  opacity: 0.6;
  margin-top: -10px;
}
.pricing-column {
  padding: 3% 1%;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-body-left h2 {
  font-size: 24px;
  padding-bottom: 9px;
}
/* Market Trend Ends */
/* Newbie to crypto */
.newbie {
  background-color: #6387f2;
}
.newbie .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-5);
  border-radius: 15px;
  padding: 4% 0;
}
.newbie-text {
  width: 536px;
  padding-left: 3%;
}
.newbie-btn {
  margin-left: 360px;
}

@media (max-width: 968px) {
  * {
    width: auto;
    margin: 0;
    padding: 0;
  }
  body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  main {
    margin-top: 30px;
    width: 100%;
  }
  section {
    padding: 80px 10px 60px;
  }
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }

  .desktop-nav .nav {
    display: none;
  }
  .desktop-nav {
    width: 100%;
    background: var(--color-5);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.13);
    opacity: 0.4;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 4px 30px;
    z-index: 200;
  }

  .desktop-nav .logo-logo .menu-icon img {
    display: block;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 90px;
    margin-bottom: 30px;
    color: var(--color-6);
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(83deg)
      brightness(105%) contrast(101%);
  }
  .mobile-nav {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: var(--color-5);
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    transition: 400ms;
  }
  .mobile-nav.active {
    opacity: 1;
    pointer-events: auto;
    top: 0;
  }

  .mobile-nav .menu-items li {
    margin: 30px 0;
  }
  .mobile-nav .menu-items li a {
    color: var(--color-6);
    text-decoration: none;
    font-size: 20px;
  }
  .swiper {
    max-width: 88%;
    height: fit-content;
    color: var(--color-6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  .slider-33 {
    display: none;
  }
  .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .swiper-button-prev,
  header .swiper-button-next {
    display: none;
  }

  header .swiper-pagination-bullet-active {
    background: var(--color-6);
  }

  .swiper-slide .left-side-header h1 {
    color: var(--color-6);
    text-align: left;
    margin-top: 30px;
    line-height: 60px;
    animation: movebottom 1s ease-in-out;
  }

  .swiper-slide .left-side-header p {
    font-size: 1.125rem;
    line-height: 32px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: var(--color-6);
    opacity: 0.7;
    animation: movetop 1s ease-in-out;
    width: 90%;
  }

  .swiper-slide img {
    display: none;
  }
  .swiper-slide .left-side-header hr {
    width: 20%;
    height: 2px;
    border: 2px solid var(--color-5);
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .swiper-slide .left-side-header input[type="email"] {
    padding: 10px 0;
    border: none;
    outline: none;
    background: #e0e0e0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 5px;
    width: 60%;
  }
  .swiper-slide .signup-btn {
    padding: 10px 8px;
    width: 40%;
  }
  .swiper-slide .signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    width: 90%;
    border-radius: 8px;
    animation: movetop 1s ease-in-out;
  }
  .newbie {
    background-color: #6387f2;
    padding: 50px;
    text-align: center;
  }
  .newbie .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-direction: column;
    border: 1px solid var(--color-5);
    border-radius: 15px;
  }
  .newbie-text {
    width: 100%;
    padding: 4% 3%;
  }
  .newbie-text p {
    color: #ccc;
    padding-top: 2%;
  }
  .newbie-btn {
    margin: 10px;
  }
  .primary-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 30px;
    text-align: center;
    background: var(--color-4);
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .primary-btn:hover {
    background: var(--hover-btn);
  }
  .primary-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
    color: var(--color-5);
  }
  .amazing-features {
    padding: 30px;
    width: 100%;
  }
  .market-trend {
    background-color: #6387f2;
    text-align: left;
    padding: 50px;
  }
}
